@page "/categories/create"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using pms.app.Models
@using Microsoft.AspNetCore.Antiforgery

@inject UnitOfWork.IUnitOfWork unitOfWork
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Create</PageTitle>

<div class="card">
    <div class="card-header text-white bg-primary">
        <h4>Create Category</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <EditForm method="post" Model="Category" OnValidSubmit="AddCategory" FormName="create">
                    <DataAnnotationsValidator />
                    <input type="hidden" name="Category.Id" value="@Category.Id" />
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <InputText id="name" @bind-Value="Category.Name" class="form-control" />
                        <ValidationMessage For="() => Category.Name" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <InputTextArea rows="4" id="description" @bind-Value="Category.Description" class="form-control" />
                        <ValidationMessage For="() => Category.Description" class="text-danger" />
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a href="/categories" class="btn btn-secondary">Back to List</a>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    public Category Category { get; set; } = new Category();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddCategory()
    {
        Category.Created = DateTime.Now;
        await unitOfWork.GetRepository<Category>().AddAsync(Category);

        NavigationManager.NavigateTo("/categories");
    }
}