@page "/Categories/edit"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using pms.app.Models
@using Microsoft.AspNetCore.Antiforgery

@inject UnitOfWork.IUnitOfWork unitOfWork
@inject NavigationManager NavigationManager
@attribute [Authorize]


<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Category</h4>
<hr />
@if (Category is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Category" OnValidSubmit="UpdateCategory" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" />
                <input type="hidden" name="Category.Id" value="@Category.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Category.Name" class="form-control" />
                    <ValidationMessage For="() => Category.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputTextArea rows="4" id="description" @bind-Value="Category.Description" class="form-control" />
                    <ValidationMessage For="() => Category.Description" class="text-danger" />
                </div>
               <div class="mb-3">
                    <label for="created" class="form-label">Created:</label>
                    <InputDate id="created" @bind-Value="Category.Created" class="form-control" readonly />
                    <ValidationMessage For="() => Category.Created" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/categories">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Category? Category { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Category ??= await unitOfWork.GetRepository<Category>().GetByIdAsync(Id);

        if (Category is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
        
    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateCategory()
    {

        try
        {
            if (Category != null)
            {
                Category.Updated = DateTime.Now;
                await unitOfWork.GetRepository<Category>().UpdateAsync(Category);
            }      
        }
        catch (DbUpdateConcurrencyException)
        {
            var categoryExits = await CategoryExists(Category!.Id);
            if (!categoryExits)
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/categories");
    }

    private async Task<bool> CategoryExists(int id)
    {
        var category = await unitOfWork.GetRepository<Category>().GetByIdAsync(id);

        if (category == null)
        {
            return false;
        }
        return true;
    }
}
